body {
  font-family: monospace;
}
.main-content {
  text-align: center;
  margin-top: 65px;
}
.main-content .img-container {
  text-align: center;
}
.main-content .img-container .vc-logo {
  width: 400px;
}
@media (max-width: 415px) {
  .main-content .img-container .vc-logo {
    width: 300px;
  }
}
.main-content .links a {
  text-decoration: none;
  color: #6182B0;
  font-size: 16px;
}
.main-content .main-links a:hover {
  color: #F09F9B;
}
.main-content .about-me-image {
  width: 395px;
  border-radius: 55px;
}
@media (max-width: 415px) {
  .main-content .about-me-image {
    width: 100%;
  }
}
.main-content .about-me {
  margin: 16px 455px;
  display: block;
}
